.detalle-prewrap {
  white-space: pre-wrap;
}

.historial-col-fecha {
  width: 150px;
}

.historial-col-user {
  width: 180px;
}

.historial-col-asignado,
.accion-col-asignado {
  width: 210px;
}

.accion-nombre {
  font-size: .85rem;
}

.badge-estado-accion {
  font-size: .7rem;
}

.form-inline-action {
  display: inline;
}

.accion-btn {
  font-size: .65rem;
}

.btn-add-responsable {
  width: 32px;
  height: 32px;
}
