{% extends "base.html" %}
{% from "reclamos_seguros/_editor.html" import rs_editor %}
{% block title %}Reclamos Seguros – {{ caso.codigo or ('#' ~ caso.id) }}{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contrato/contrato.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/casos_legales.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/quill/quill.snow.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reclamos_seguros.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone_archivos.css') }}">
{% endblock %}

{% block content %}
{% include "reclamos_seguros/_detalle_contenido.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='vendor/quill/quill.js') }}"></script>
<script src="{{ url_for('static', filename='js/reclamos_seguros.js') }}"></script>
<script src="{{ url_for('static', filename='js/reclamos_seguros_editor.js') }}"></script>
<script src="{{ url_for('static', filename='js/dropzone_archivos.js') }}"></script>
{% endblock %}
